*/config.tsx
frontend/config.tsx
*.pyc
/backend/db.sqlite3
.DS_Store
.env
venv/
*/settings/local.py
/staticfiles/*
/mediafiles/*
backend/config/media
__pycache__/
/.vscode/

# coverage result
.coverage
/coverage/

# pycharm
.idea/

# data
*.dump

# npm
node_modules/
npm-debug.log

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/webpack-stats.json

.env.local
env.local

# Sass
.sass-cache
*.map

# General
/{{project_name}}-venv/
/venv/
/env/
/output/
/cache/
boilerplate.zip

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/

.direnv
.envrc
.tool-versions

# config file
backend/config/config/config.py
backend/config/application/naman.py
frontend/.next/build-manifest.json
frontend/.next/react-loadable-manifest.json
frontend/.next/trace
frontend/.next/cache/webpack/client-development/0.pack
frontend/.next/cache/webpack/client-development/1.pack
frontend/.next/cache/webpack/client-development/2.pack
frontend/.next/cache/webpack/client-development/3.pack
frontend/.next/cache/webpack/client-development/4.pack
frontend/.next/cache/webpack/client-development/5.pack
frontend/.next/cache/webpack/client-development/6.pack
frontend/.next/cache/webpack/client-development/7.pack
frontend/.next/cache/webpack/client-development/index.pack
frontend/.next/cache/webpack/client-development/index.pack.old
frontend/.next/cache/webpack/server-development/0.pack
frontend/.next/cache/webpack/server-development/1.pack
frontend/.next/cache/webpack/server-development/2.pack
frontend/.next/cache/webpack/server-development/3.pack
frontend/.next/cache/webpack/server-development/index.pack
frontend/.next/cache/webpack/server-development/index.pack.old
frontend/.next/server/middleware-manifest.json
frontend/.next/server/pages-manifest.json
frontend/.next/server/webpack-runtime.js
frontend/.next/server/pages/_app.js
frontend/.next/server/pages/_document.js
frontend/.next/server/pages/_error.js
frontend/.next/server/pages/500.js
frontend/.next/server/pages/add-issue.js
frontend/.next/server/pages/index.js
frontend/.next/static/chunks/amp.js
frontend/.next/static/chunks/main.js
frontend/.next/static/chunks/node_modules_react-apexcharts_dist_react-apexcharts_min_js.js
frontend/.next/static/chunks/polyfills.js
frontend/.next/static/chunks/react-refresh.js
frontend/.next/static/chunks/webpack.js
frontend/.next/static/chunks/pages/_app.js
frontend/.next/static/chunks/pages/_error.js
frontend/.next/static/chunks/pages/500.js
frontend/.next/static/chunks/pages/add-issue.js
frontend/.next/static/chunks/pages/index.js
frontend/.next/static/chunks/pages/map-view.js
frontend/.next/static/chunks/pages/typography.js
frontend/.next/static/development/_buildManifest.js
frontend/.next/static/development/_middlewareManifest.js
frontend/.next/static/development/_ssgManifest.js
frontend/.next/static/webpack/3b14ecaafa3c7531.webpack.hot-update.json
frontend/.next/static/webpack/5afa99789fe46d21.webpack.hot-update.json
frontend/.next/static/webpack/46eff7cea42f7857.webpack.hot-update.json
frontend/.next/static/webpack/068b4d10c43a752c.webpack.hot-update.json
frontend/.next/static/webpack/91b0b86381f4d0d5.webpack.hot-update.json
frontend/.next/static/webpack/0258d2a9da7bc08a.webpack.hot-update.json
frontend/.next/static/webpack/605a6ef7fd2e4a65.webpack.hot-update.json
frontend/.next/static/webpack/878e38f3c09b03a3.webpack.hot-update.json
frontend/.next/static/webpack/23520a85fea8db27.webpack.hot-update.json
frontend/.next/static/webpack/48250ea0b9c51509.webpack.hot-update.json
frontend/.next/static/webpack/af2bd9a25052831f.webpack.hot-update.json
frontend/.next/static/webpack/c6cf41d9f1f15de0.webpack.hot-update.json
frontend/.next/static/webpack/d5828f6c598b470c.webpack.hot-update.json
frontend/.next/static/webpack/e6ff0499d46632d6.webpack.hot-update.json
frontend/.next/static/webpack/eeeac9f655211b2a.webpack.hot-update.json
frontend/.next/static/webpack/faf8c7a77d24b954.webpack.hot-update.json
frontend/.next/static/webpack/fdc9d9e3b0c533d3.webpack.hot-update.json
frontend/.next/static/webpack/ffacab533ca3f315.webpack.hot-update.json
frontend/.next/static/webpack/webpack.3b14ecaafa3c7531.hot-update.js
frontend/.next/static/webpack/webpack.5afa99789fe46d21.hot-update.js
frontend/.next/static/webpack/webpack.46eff7cea42f7857.hot-update.js
frontend/.next/static/webpack/webpack.068b4d10c43a752c.hot-update.js
frontend/.next/static/webpack/webpack.91b0b86381f4d0d5.hot-update.js
frontend/.next/static/webpack/webpack.0258d2a9da7bc08a.hot-update.js
frontend/.next/static/webpack/webpack.605a6ef7fd2e4a65.hot-update.js
frontend/.next/static/webpack/webpack.878e38f3c09b03a3.hot-update.js
frontend/.next/static/webpack/webpack.23520a85fea8db27.hot-update.js
frontend/.next/static/webpack/webpack.48250ea0b9c51509.hot-update.js
frontend/.next/static/webpack/webpack.af2bd9a25052831f.hot-update.js
frontend/.next/static/webpack/webpack.c6cf41d9f1f15de0.hot-update.js
frontend/.next/static/webpack/webpack.d5828f6c598b470c.hot-update.js
frontend/.next/static/webpack/webpack.e6ff0499d46632d6.hot-update.js
frontend/.next/static/webpack/webpack.eeeac9f655211b2a.hot-update.js
frontend/.next/static/webpack/webpack.faf8c7a77d24b954.hot-update.js
frontend/.next/static/webpack/webpack.fdc9d9e3b0c533d3.hot-update.js
frontend/.next/static/webpack/webpack.ffacab533ca3f315.hot-update.js
frontend/.next/static/webpack/pages/add-issue.3b14ecaafa3c7531.hot-update.js
frontend/.next/static/webpack/pages/add-issue.605a6ef7fd2e4a65.hot-update.js
frontend/.next/static/webpack/pages/add-issue.c6cf41d9f1f15de0.hot-update.js
frontend/.next/static/webpack/pages/add-issue.e6ff0499d46632d6.hot-update.js
frontend/.next/static/webpack/pages/add-issue.fdc9d9e3b0c533d3.hot-update.js
frontend/.next/static/webpack/pages/add-issue.ffacab533ca3f315.hot-update.js
frontend/.next/static/webpack/pages/map-view.91b0b86381f4d0d5.hot-update.js
frontend/.next/static/webpack/pages/map-view.0258d2a9da7bc08a.hot-update.js
frontend/.next/static/webpack/pages/map-view.23520a85fea8db27.hot-update.js
frontend/.next/fallback-build-manifest.json
frontend/.next/cache/webpack/client-development/8.pack
frontend/.next/cache/webpack/client-development/9.pack
frontend/.next/cache/webpack/client-development/10.pack
frontend/.next/cache/webpack/client-development/11.pack
frontend/.next/cache/webpack/client-development/12.pack
frontend/.next/cache/webpack/client-development/13.pack
frontend/.next/cache/webpack/client-development/14.pack
frontend/.next/cache/webpack/client-development/15.pack
frontend/.next/cache/webpack/client-development/16.pack
frontend/.next/cache/webpack/client-development/17.pack
frontend/.next/cache/webpack/client-development-fallback/0.pack
frontend/.next/cache/webpack/client-development-fallback/index.pack
frontend/.next/cache/webpack/server-development/4.pack
frontend/.next/cache/webpack/server-development/5.pack
frontend/.next/cache/webpack/server-development/6.pack
frontend/.next/cache/webpack/server-development/7.pack
frontend/.next/cache/webpack/server-development/8.pack
frontend/.next/cache/webpack/server-development/9.pack
frontend/.next/cache/webpack/server-development/10.pack
frontend/.next/server/_error.js
frontend/.next/server/pages/404.js
frontend/.next/server/pages/forum.js
frontend/.next/server/pages/map-view.js
frontend/.next/server/pages/typography.js
frontend/.next/static/chunks/_error.js
frontend/.next/static/chunks/fallback/amp.js
frontend/.next/static/chunks/fallback/main.js
frontend/.next/static/chunks/fallback/react-refresh.js
frontend/.next/static/chunks/fallback/webpack.js
frontend/.next/static/chunks/fallback/pages/_app.js
frontend/.next/static/chunks/fallback/pages/_error.js
frontend/.next/static/chunks/pages/404.js
frontend/.next/static/chunks/pages/cards.js
frontend/.next/static/chunks/pages/form-layouts.js
frontend/.next/static/chunks/pages/forum.js
frontend/.next/static/chunks/pages/icons.js
frontend/.next/static/chunks/pages/tables.js
frontend/.next/static/webpack/1a844caa6a821ec6.webpack.hot-update.json
frontend/.next/static/webpack/2de9448835d33d7a.webpack.hot-update.json
frontend/.next/static/webpack/4c3931001361506e.webpack.hot-update.json
frontend/.next/static/webpack/4d274616cd8e01e3.webpack.hot-update.json
frontend/.next/static/webpack/4f06be271d7b8bb8.webpack.hot-update.json
frontend/.next/static/webpack/05fc0be2d43bb716.webpack.hot-update.json
frontend/.next/static/webpack/6c378d250f60c9c0.webpack.hot-update.json
frontend/.next/static/webpack/6f20d1e27970079b.webpack.hot-update.json
frontend/.next/static/webpack/7d876d59f63c6ab2.webpack.hot-update.json
frontend/.next/static/webpack/09ae85ef7920c82c.webpack.hot-update.json
frontend/.next/static/webpack/22a9e86831b15072.webpack.hot-update.json
frontend/.next/static/webpack/24a3323559bff7bb.webpack.hot-update.json
frontend/.next/static/webpack/42c08a56fddadc7d.webpack.hot-update.json
frontend/.next/static/webpack/48a80deb23b8431a.webpack.hot-update.json
frontend/.next/static/webpack/94a84fe4e9a29b66.webpack.hot-update.json
frontend/.next/static/webpack/94ead396a3990b19.webpack.hot-update.json
frontend/.next/static/webpack/371c03594d865711.webpack.hot-update.json
frontend/.next/static/webpack/1052c162f8bc7a4e.webpack.hot-update.json
frontend/.next/static/webpack/7856a3ae3461e34a.webpack.hot-update.json
frontend/.next/static/webpack/10653dd7ba31d3e7.webpack.hot-update.json
frontend/.next/static/webpack/44801d050d7b270b.webpack.hot-update.json
frontend/.next/static/webpack/74904a8170134674.webpack.hot-update.json
frontend/.next/static/webpack/6384829b124a5f96.webpack.hot-update.json
frontend/.next/static/webpack/80537654cf839af3.webpack.hot-update.json
frontend/.next/static/webpack/aa1fb770d9e2a516.webpack.hot-update.json
frontend/.next/static/webpack/beb61d6a20d60c3e.webpack.hot-update.json
frontend/.next/static/webpack/d3d5c4616ba2d9cb.webpack.hot-update.json
frontend/.next/static/webpack/d5d02efbc422ae77.webpack.hot-update.json
frontend/.next/static/webpack/e88b6b4efd3d4785.webpack.hot-update.json
frontend/.next/static/webpack/e562ccca2598df4a.webpack.hot-update.json
frontend/.next/static/webpack/e4195676b6e6bec0.webpack.hot-update.json
frontend/.next/static/webpack/ee76df540c8d3d89.webpack.hot-update.json
frontend/.next/static/webpack/f111cb0e25d7ece6.webpack.hot-update.json
frontend/.next/static/webpack/fa3fa4feb793ce04.webpack.hot-update.json
frontend/.next/static/webpack/webpack.1a844caa6a821ec6.hot-update.js
frontend/.next/static/webpack/webpack.2de9448835d33d7a.hot-update.js
frontend/.next/static/webpack/webpack.4c3931001361506e.hot-update.js
frontend/.next/static/webpack/webpack.4d274616cd8e01e3.hot-update.js
frontend/.next/static/webpack/webpack.4f06be271d7b8bb8.hot-update.js
frontend/.next/static/webpack/webpack.05fc0be2d43bb716.hot-update.js
frontend/.next/static/webpack/webpack.6c378d250f60c9c0.hot-update.js
frontend/.next/static/webpack/webpack.6f20d1e27970079b.hot-update.js
frontend/.next/static/webpack/webpack.7d876d59f63c6ab2.hot-update.js
frontend/.next/static/webpack/webpack.09ae85ef7920c82c.hot-update.js
frontend/.next/static/webpack/webpack.22a9e86831b15072.hot-update.js
frontend/.next/static/webpack/webpack.24a3323559bff7bb.hot-update.js
frontend/.next/static/webpack/webpack.42c08a56fddadc7d.hot-update.js
frontend/.next/static/webpack/webpack.48a80deb23b8431a.hot-update.js
frontend/.next/static/webpack/webpack.94a84fe4e9a29b66.hot-update.js
frontend/.next/static/webpack/webpack.94ead396a3990b19.hot-update.js
frontend/.next/static/webpack/webpack.371c03594d865711.hot-update.js
frontend/.next/static/webpack/webpack.1052c162f8bc7a4e.hot-update.js
frontend/.next/static/webpack/webpack.7856a3ae3461e34a.hot-update.js
frontend/.next/static/webpack/webpack.10653dd7ba31d3e7.hot-update.js
frontend/.next/static/webpack/webpack.44801d050d7b270b.hot-update.js
frontend/.next/static/webpack/webpack.74904a8170134674.hot-update.js
frontend/.next/static/webpack/webpack.6384829b124a5f96.hot-update.js
frontend/.next/static/webpack/webpack.80537654cf839af3.hot-update.js
frontend/.next/static/webpack/webpack.aa1fb770d9e2a516.hot-update.js
frontend/.next/static/webpack/webpack.beb61d6a20d60c3e.hot-update.js
frontend/.next/static/webpack/webpack.d3d5c4616ba2d9cb.hot-update.js
frontend/.next/static/webpack/webpack.d5d02efbc422ae77.hot-update.js
frontend/.next/static/webpack/webpack.e88b6b4efd3d4785.hot-update.js
frontend/.next/static/webpack/webpack.e562ccca2598df4a.hot-update.js
frontend/.next/static/webpack/webpack.e4195676b6e6bec0.hot-update.js
frontend/.next/static/webpack/webpack.ee76df540c8d3d89.hot-update.js
frontend/.next/static/webpack/webpack.f111cb0e25d7ece6.hot-update.js
frontend/.next/static/webpack/webpack.fa3fa4feb793ce04.hot-update.js
frontend/.next/static/webpack/pages/_app.2de9448835d33d7a.hot-update.js
frontend/.next/static/webpack/pages/_app.10653dd7ba31d3e7.hot-update.js
frontend/.next/static/webpack/pages/_app.e4195676b6e6bec0.hot-update.js
frontend/.next/static/webpack/pages/_app.f111cb0e25d7ece6.hot-update.js
frontend/.next/static/webpack/pages/forum.1a844caa6a821ec6.hot-update.js
frontend/.next/static/webpack/pages/forum.4c3931001361506e.hot-update.js
frontend/.next/static/webpack/pages/forum.4d274616cd8e01e3.hot-update.js
frontend/.next/static/webpack/pages/forum.4f06be271d7b8bb8.hot-update.js
frontend/.next/static/webpack/pages/forum.6f20d1e27970079b.hot-update.js
frontend/.next/static/webpack/pages/forum.7d876d59f63c6ab2.hot-update.js
frontend/.next/static/webpack/pages/forum.09ae85ef7920c82c.hot-update.js
frontend/.next/static/webpack/pages/forum.22a9e86831b15072.hot-update.js
frontend/.next/static/webpack/pages/forum.42c08a56fddadc7d.hot-update.js
frontend/.next/static/webpack/pages/forum.6384829b124a5f96.hot-update.js
frontend/.next/static/webpack/pages/forum.ee76df540c8d3d89.hot-update.js
frontend/.next/static/webpack/pages/forum.fa3fa4feb793ce04.hot-update.js
